@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&display=swap');

.App {
  text-align: center;
}

.container {
  padding-top: 5px;
  flex: 40%;
}
.board {
  border: 2px solid;
  margin: 10px auto;
}
.info {
  margin: auto;
  display: flex;
  font-size: 25px;
  justify-content: center;
  border: 1px solid;
  border-color: lightgrey;
  background-color: lightgrey;
  width: 594px;
  padding: 2px;
  border-radius: 4px;
}

.resignButton {
  position: relative;
  flex: 20%;
  margin: auto 4px;
  height: 40px;
}

.resignButton:hover {
  background-color: lightcoral;
}

.resignButton:disabled {
  background-color: lightgrey;
}

.soundButton {
  position: relative;
  flex: 20%;
  margin: auto 2px;
  height: 40px;
}

.soundButtonOn {
  background-color: lightgreen;
  border: solid 1px;
  border-radius: 2px;
}

.soundButton:disabled {
  background-color: lightgrey;
}

.info p {
  flex: 60%;
}

.turn {
  flex: 50%;
}

th {
  width: 40px;
  height: 40px;
}
.a1,
.a3,
.a5,
.a7,
.c1,
.c3,
.c5,
.c7,
.e1,
.e3,
.e5,
.e7,
.g1,
.g3,
.g5,
.g7,
.b2,
.b4,
.b6,
.b8,
.d2,
.d4,
.d6,
.d8,
.f2,
.f4,
.f6,
.f8,
.h2,
.h4,
.h6,
.h8 {
  background-color: #C19A6B;
  width: 70px;
  height: 70px;
  position: relative;
}
.b1,
.b3,
.b5,
.b7,
.d1,
.d3,
.d5,
.d7,
.f1,
.f3,
.f5,
.f7,
.h1,
.h3,
.h5,
.h7,
.a2,
.a4,
.a6,
.a8,
.c2,
.c4,
.c6,
.c8,
.e2,
.e4,
.e6,
.e8,
.g2,
.g4,
.g6,
.g8 {
  background-color: white;
  width: 70px;
  height: 70px;
  position: relative;
}
.board-image {
  width: 60px;
  height: 60px;
}

.alphabetLabel {
  position: absolute;
  bottom: 10px;
  left: 10px;
  transform: translate(-50%, 50%);
  font-size: 10px;
  color: black;
}

.numberLabel {
  position: absolute;
  top: 0px;
  left: 10px;
  transform: translate(-50%, 50%);
  font-size: 10px;
  color: black;
}

.eligibilityCircle {
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: darkcyan;
  z-index: 5;
  width: 20px;
  height: 20px;
  transform: translate(-50%, -50%); 
}

.capturedPieces {
  display: flex;
  max-width: 40%;
  height: 50px;
  margin: auto;
  flex-flow: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
}

.capturedPieces img {
  width: 40px;
  height: 40px;
}

.kingAttack {
  background-color: red;
}

.clickKingInCheck {
  background-color: #FF6347;
}

.clickedSquare {
  background-color: darkolivegreen;
}

.lastMoveMarker {
  background-color: darkseagreen;
}

/* PromotionModal.css */
.prom-images-container {
  display: flex;
  justify-content: space-evenly; /* To arrange images with space between them */
  margin-top: 20px;
  text-align: center;
}

.prom-image-item {
  border: 2px solid;
  background-color: aliceblue;
}

.prom-container {
  margin: auto;
  margin-top: 200px;
  width: 75%;
  text-align: center;
  z-index: 999;
}

.prom-close-button {
  margin-top: 50px;
  background-color: rgb(255, 254, 240);
}



.mainContainer {
  background: url('../public/mainBg.jpg');
  display: flex;
  flex-direction: column;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  font-family: 'Cormorant Garamond', serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainPageTitle {
  position: relative;
  top: 0;
  justify-content: center;
  color: white;
  font-size: 30px;
  text-align: center;
}

.platform {
  padding: 20px;
  width: 80%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
}

.features{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 250px;
  margin-bottom: 40px;
}

.singleplayerImg, .multiplayerImg {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.multiplayerCard:hover {
  background-color: lightgrey;
}

.multiplayerCard img, .multiplayerCard h1 {
  pointer-events: none; /* Prevent hover events from affecting child elements */
}

.singleplayerCard:hover {
  background-color: lightgrey;
}

.singleplayerCard img, .singleplayerCard h1 {
  pointer-events: none; /* Prevent hover events from affecting child elements */
}

.img-size{
  width: 80px;
}

.featureContainer {
  display: flex;
  justify-content: space-evenly;
  background-color: lightgray;
  border-radius: 8px;
  padding: 0px 50px;
}

.comingSoonCard {
  text-align: center;
}

.comingSoon {
  position: relative;
  bottom: 20px;
}

.featureContainer p {
  position: absolute;
  top: 50px;
}









.awaitingContainer {
  height: 100%;
  width: 100%;
  position: relative;
  font-family: 'Cormorant Garamond', serif;
  color: black;
  font-size: 20px;
}

.awaitingContainer::before {
  content: "";
  background-image: url('../public/mainBg.jpg');
  opacity: 0.1;
  position: fixed;
  height: 100vh;
  width: 100vw;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.awaitingPageTitle {
  position: relative;
  height: 20%;
  font-size: 30px;
  background-color: lightgrey;
  text-align: center;
}

.awaitingPageBody {
  position: relative;
  height: 40%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 100px;
}

.awaitingPageSpinner {
  position: relative;
  display: flex;
  height: 40%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 50px;
}

.spinnerText {
  flex: 50%;
  text-align: end;
}

.spinnerIcon {
  flex: 50%;
  padding-left: 20px;
}

.linkWithCopy {
  position: relative;
  display: flex;
  width: 90%
}

.linkBox {
  display: flex;
  flex: 85%;
  margin-top: 10px;
  height: 30px;
  width: 80%;
  position: relative;
  border: solid 2px;
  border-radius: 5px;
  background-color: rgb(249, 247, 247);
}

.linkTextContainer {
  flex: 95%;
  padding-left: 10px;
  border-right: solid 2px;
  overflow: scroll;
}

.copyIcon {
  flex: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyIcon svg {
  width: 100%;
  height: 100%;
  fill: black;
}

.copyIcon:hover {
  background-color: blanchedalmond;
}

.copyIndicator {
  position: relative;
  flex: 15%;
  height: 30px;
  width: 25%;
  text-align: left;
  padding-left: 5px;
}

.fullBoardContainer {
  position: relative;
  display: flex;
}

.videoContainer {
  position: relative;
  flex: 40%;
}

.movesHistoryContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 594px;
  max-height: 594px;
  justify-content: flex-start;
  margin: auto 10px;
  flex: 20%;
  border: solid 2px;
  top: 45px;
  text-align: center;
  overflow: scroll;
}


.nonTitleMovesHistoryItems {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  overflow: scroll;
  font-size: 12px;
  text-align: center;
}

.movesHistoryTitle {
  position: sticky;
  width: 100%;
  top: 0px;
  background-color: darkslategrey;
  height: 40px;
  text-align: center;
  color: white;
}

.movesHistoryTitle p {
  padding-left: 20px;
}

.moveHistoryRow {
  position: relative;
  display: flex;
  height: 30px;
  color: white;
  text-align: center;
}

.moveHistoryLabel {
  flex: 20%;
  background-color: darkslategray;
  border-top: solid 1px;
  border-color: white;
  padding: auto;
  color: white;
}

.moveHistoryButton {
  flex: 40%;
  background-color: darkslategray;
  color: white;
  border: solid 1px;
  border-color: white;
  border-right: none;
  border-bottom: none;
}

.moveHistoryButton :disabled {
  background-color: darkslategray;
}

.moveHistoryButton:not(:disabled) {
  background-color: lightgreen;
  color: black
}

.moveHistoryButton:not(:disabled):hover {
  background-color: darkseagreen;
}